In [2]:
import pandas as pd
from dbfread import DBF

In [3]:
# Cargar los datasets
df1 = pd.read_csv(r'Data/ElectricCarData_Clean.csv')
df2 = pd.read_csv(r'Data/ElectricCarData_Norm.csv')

# Unir usando las columnas comunes
df_combined_1_2 = pd.merge(df1, df2, on=['Brand', 'Model'])

In [4]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103 entries, 0 to 102
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Brand            103 non-null    object
 1   Model            103 non-null    object
 2   AccelSec         103 non-null    float64
 3   TopSpeed_KmH     103 non-null    int64
 4   Range_Km         103 non-null    int64
 5   Efficiency_WhKm  103 non-null    int64
 6   FastCharge_KmH   103 non-null    object
 7   RapidCharge      103 non-null    object
 8   PowerTrain       103 non-null    object
 9   PlugType         103 non-null    object
 10  BodyStyle        103 non-null    object
 11  Segment          103 non-null    object
 12  Seats            103 non-null    int64
 13  PriceEuro        103 non-null    int64
dtypes: float64(1), int64(5), object(8)
memory usage: 11.4+ KB

In [5]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103 entries, 0 to 102
Data columns (total 14 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Brand        103 non-null    object
 1   Model        103 non-null    object
 2   Accel        103 non-null    object
 3   TopSpeed     103 non-null    object
 4   Range        103 non-null    object
 5   Efficiency   103 non-null    object
 6   FastCharge   103 non-null    object
 7   RapidCharge  103 non-null    object
 8   PowerTrain   103 non-null    object
 9   PlugType     103 non-null    object
 10  BodyStyle    103 non-null    object
 11  Segment      103 non-null    object
 12  Seats        103 non-null    int64
 13  PriceEuro    103 non-null    int64
dtypes: int64(2), object(12)
memory usage: 11.4+ KB

In [6]:
df_combined_1_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 105 entries, 0 to 104
Data columns (total 26 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Brand            105 non-null    object
 1   Model            105 non-null    object
 2   AccelSec         105 non-null    float64
 3   TopSpeed_KmH     105 non-null    int64
 4   Range_Km         105 non-null    int64
 5   Efficiency_WhKm  105 non-null    int64
 6   FastCharge_KmH   105 non-null    object
 7   RapidCharge_x    105 non-null    object
 8   PowerTrain_x     105 non-null    object
 9   PlugType_x       105 non-null    object
 10  BodyStyle_x      105 non-null    object
 11  Segment_x        105 non-null    object
 12  Seats_x          105 non-null    int64
 13  PriceEuro_x      105 non-null    int64
 14  Accel            105 non-null    object
 15  TopSpeed         105 non-null    object
 16  Range            105 non-null    object
 17  Efficiency       105 non-null    object
 18  FastCharge       105 non-null    object
 19  RapidCharge_y    105 non-null    object
 20  PowerTrain_y     105 non-null    object
 21  PlugType_y       105 non-null    object
 22  BodyStyle_y      105 non-null    object
 23  Segment_y        105 non-null    object
 24  Seats_y          105 non-null    int64
 25  PriceEuro_y      105 non-null    int64
dtypes: float64(1), int64(7), object(18)
memory usage: 21.5+ KB

In [7]:
df_combined_1_2.columns

Index(['Brand', 'Model', 'AccelSec', 'TopSpeed_KmH', 'Range_Km',
       'Efficiency_WhKm', 'FastCharge_KmH', 'RapidCharge_x', 'PowerTrain_x',
       'PlugType_x', 'BodyStyle_x', 'Segment_x', 'Seats_x', 'PriceEuro_x',
       'Accel', 'TopSpeed', 'Range', 'Efficiency', 'FastCharge',
       'RapidCharge_y', 'PowerTrain_y', 'PlugType_y', 'BodyStyle_y',
       'Segment_y', 'Seats_y', 'PriceEuro_y'],
      dtype='object')

In [8]:
df_combined_1_2.drop(columns=['Accel', 'TopSpeed', 'Range', 'Efficiency', 'FastCharge', 'RapidCharge_y', 'PowerTrain_y', 'PlugType_y', 'BodyStyle_y', 'Segment_y', 'Seats_y', 'PriceEuro_y'], inplace=True)

In [9]:
df_combined_1_2.head()

,Brand,Model,AccelSec,TopSpeed_KmH,Range_Km,Efficiency_WhKm,FastCharge_KmH,RapidCharge_x,PowerTrain_x,PlugType_x,BodyStyle_x,Segment_x,Seats_x,PriceEuro_x
0,Tesla,Model 3 Long Range Dual Motor,4.6,233,450,161,940,Yes,AWD,Type 2 CCS,Sedan,D,5,55480
1,Volkswagen,ID.3 Pure,10.0,160,270,167,250,Yes,RWD,Type 2 CCS,Hatchback,C,5,30000
2,Polestar,2,4.7,210,400,181,620,Yes,AWD,Type 2 CCS,Liftback,D,5,56440
3,BMW,iX3,6.8,180,360,206,560,Yes,RWD,Type 2 CCS,SUV,D,5,68040
4,Honda,e,9.5,145,170,168,190,Yes,RWD,Type 2 CCS,Hatchback,B,4,32997

In [10]:
# Cargar los datasets
df3 = pd.read_csv(r'Data/taxi+_zone_lookup.csv')
table = DBF(r'Data/taxi_zones.dbf')
df4 = pd.DataFrame(iter(table))

# Unir usando 'LocationID'
df_combined_3_4 = pd.merge(df3, df4, left_on=['LocationID', 'Borough'], right_on=['LocationID', 'borough'])

In [11]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 265 entries, 0 to 264
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   LocationID    265 non-null    int64
 1   Borough       265 non-null    object
 2   Zone          264 non-null    object
 3   service_zone  263 non-null    object
dtypes: int64(1), object(3)
memory usage: 8.4+ KB

In [12]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 263 entries, 0 to 262
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   OBJECTID    263 non-null    int64
 1   Shape_Leng  263 non-null    float64
 2   Shape_Area  263 non-null    float64
 3   zone        263 non-null    object
 4   LocationID  263 non-null    int64
 5   borough     263 non-null    object
dtypes: float64(2), int64(2), object(2)
memory usage: 12.5+ KB

In [13]:
df_combined_3_4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 263 entries, 0 to 262
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   LocationID    263 non-null    int64
 1   Borough       263 non-null    object
 2   Zone          263 non-null    object
 3   service_zone  263 non-null    object
 4   OBJECTID      263 non-null    int64
 5   Shape_Leng    263 non-null    float64
 6   Shape_Area    263 non-null    float64
 7   zone          263 non-null    object
 8   borough       263 non-null    object
dtypes: float64(2), int64(2), object(5)
memory usage: 18.6+ KB

In [14]:
df_combined_3_4.columns

Index(['LocationID', 'Borough', 'Zone', 'service_zone', 'OBJECTID',
       'Shape_Leng', 'Shape_Area', 'zone', 'borough'],
      dtype='object')

In [15]:
df_combined_3_4.drop(columns=['OBJECTID', 'zone', 'borough'], inplace=True)

In [16]:
df_combined_3_4.head()

,LocationID,Borough,Zone,service_zone,Shape_Leng,Shape_Area
0,1,EWR,Newark Airport,EWR,0.116357,0.000782
1,2,Queens,Jamaica Bay,Boro Zone,0.433470,0.004866
2,3,Bronx,Allerton/Pelham Gardens,Boro Zone,0.084341,0.000314
3,4,Manhattan,Alphabet City,Yellow Zone,0.043567,0.000112
4,5,Staten Island,Arden Heights,Boro Zone,0.092146,0.000498

In [17]:
# Cargar los datasets
df5 = pd.read_csv(r'Data/Light Duty Vehicles.csv')
df6 = pd.read_csv(r'Data/Vehicle Fuel Economy Data.csv')
df7 = pd.read_csv(r'Data/Alternative Fuel Vehicles US.csv')

C:\Users\augus\AppData\Local\Temp\ipykernel_8500\1404374060.py:3: DtypeWarning: Columns (73,75) have mixed types. Specify dtype option on import or set low_memory=False.
  df6 = pd.read_csv(r'Data/Vehicle Fuel Economy Data.csv')

In [18]:
df5.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3008 entries, 0 to 3007
Data columns (total 29 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Vehicle ID                          3008 non-null   int64
 1   Fuel ID                             3008 non-null   int64
 2   Fuel Configuration ID               2973 non-null   float64
 3   Manufacturer ID                     3008 non-null   int64
 4   Category ID                         3008 non-null   int64
 5   Model                               3008 non-null   object
 6   Model Year                          3008 non-null   int64
 7   Alternative Fuel Economy City       1595 non-null   float64
 8   Alternative Fuel Economy Highway    1505 non-null   float64
 9   Alternative Fuel Economy Combined   467 non-null    float64
 10  Conventional Fuel Economy City      2044 non-null   float64
 11  Conventional Fuel Economy Highway   2046 non-null   float64
 12  Conventional Fuel Economy Combined  763 non-null    float64
 13  Transmission Type                   2922 non-null   object
 14  Engine Type                         2211 non-null   object
 15  Engine Size                         2874 non-null   object
 16  Engine Cylinder Count               2443 non-null   float64
 17  Engine Description                  1971 non-null   object
 18  Manufacturer                        3008 non-null   object
 19  Manufacturer URL                    2844 non-null   object
 20  Category                            3008 non-null   object
 21  Fuel Code                           3008 non-null   object
 22  Fuel                                3008 non-null   object
 23  Fuel Configuration Name             2973 non-null   object
 24  Electric-Only Range                 374 non-null    float64
 25  PHEV Total Range                    43 non-null     float64
 26  PHEV Type                           176 non-null    object
 27  Notes                               73 non-null     object
 28  Drivetrain                          329 non-null    object
dtypes: float64(10), int64(5), object(14)
memory usage: 681.6+ KB

In [19]:
df5.columns

Index(['Vehicle ID', 'Fuel ID', 'Fuel Configuration ID', 'Manufacturer ID',
       'Category ID', 'Model', 'Model Year', 'Alternative Fuel Economy City',
       'Alternative Fuel Economy Highway', 'Alternative Fuel Economy Combined',
       'Conventional Fuel Economy City', 'Conventional Fuel Economy Highway',
       'Conventional Fuel Economy Combined', 'Transmission Type',
       'Engine Type', 'Engine Size', 'Engine Cylinder Count',
       'Engine Description', 'Manufacturer', 'Manufacturer URL', 'Category',
       'Fuel Code', 'Fuel', 'Fuel Configuration Name', 'Electric-Only Range',
       'PHEV Total Range', 'PHEV Type', 'Notes', 'Drivetrain'],
      dtype='object')

In [20]:
df5.drop(columns=['Vehicle ID', 'Fuel ID', 'Fuel Configuration ID', 'Manufacturer ID',
       'Category ID', 'Transmission Type', 'Engine Type', 'Engine Size', 'Engine Cylinder Count', 
       'Engine Description', 'Manufacturer URL', 'Fuel Code', 'Fuel Configuration Name', 'Electric-Only Range',
       'PHEV Total Range', 'PHEV Type', 'Notes', 'Drivetrain', 'Category'], inplace=True)

In [21]:
df5.head()

,Model,Model Year,Alternative Fuel Economy City,Alternative Fuel Economy Highway,Alternative Fuel Economy Combined,Conventional Fuel Economy City,Conventional Fuel Economy Highway,Conventional Fuel Economy Combined,Manufacturer,Fuel
0,NSX,2022,NaN,NaN,NaN,21.0,22.0,21.0,Acura,Hybrid Electric
1,A3,2022,NaN,NaN,NaN,29.0,38.0,32.0,Audi,Hybrid Electric
2,A3 quattro,2022,NaN,NaN,NaN,28.0,36.0,31.0,Audi,Hybrid Electric
3,A4 allroad quattro,2022,NaN,NaN,NaN,24.0,30.0,26.0,Audi,Hybrid Electric
4,A4 quattro,2022,NaN,NaN,NaN,26.0,34.0,29.0,Audi,Hybrid Electric

In [22]:
df6.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46186 entries, 0 to 46185
Data columns (total 82 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Year             46186 non-null  int64
 1   Manufacturer     46186 non-null  object
 2   Model            46176 non-null  object
 3   barrels08        46169 non-null  float64
 4   barrelsA08       46169 non-null  float64
 5   charge240        46169 non-null  float64
 6   city08           46169 non-null  float64
 7   city08U          46169 non-null  float64
 8   cityA08          46169 non-null  float64
 9   cityA08U         46169 non-null  float64
 10  cityCD           46169 non-null  float64
 11  cityE            46169 non-null  float64
 12  cityUF           46169 non-null  float64
 13  co2              46169 non-null  float64
 14  co2A             46169 non-null  float64
 15  co2TailpipeAGpm  46169 non-null  float64
 16  co2TailpipeGpm   46169 non-null  float64
 17  comb08           46169 non-null  float64
 18  comb08U          46169 non-null  float64
 19  combA08          46169 non-null  float64
 20  combA08U         46169 non-null  float64
 21  combE            46169 non-null  float64
 22  combinedCD       46169 non-null  float64
 23  combinedUF       46169 non-null  float64
 24  cylinders        45663 non-null  float64
 25  displ            45665 non-null  float64
 26  drive            44983 non-null  object
 27  engId            46169 non-null  float64
 28  eng_dscr         29092 non-null  object
 29  feScore          44953 non-null  float64
 30  fuelCost08       44953 non-null  float64
 31  fuelCostA08      44953 non-null  float64
 32  fuelType         44953 non-null  object
 33  fuelType1        44953 non-null  object
 34  ghgScore         44953 non-null  float64
 35  ghgScoreA        44953 non-null  float64
 36  highway08        44953 non-null  float64
 37  highway08U       44953 non-null  float64
 38  highwayA08       44953 non-null  float64
 39  highwayA08U      44953 non-null  float64
 40  VClass           44953 non-null  object
 41  highwayCD        44192 non-null  float64
 42  highwayE         44192 non-null  float64
 43  highwayUF        44192 non-null  float64
 44  hlv              44192 non-null  float64
 45  hpv              44192 non-null  float64
 46  id               44192 non-null  float64
 47  lv2              44192 non-null  float64
 48  lv4              44192 non-null  float64
 49  mpgData          44179 non-null  object
 50  phevBlended      44192 non-null  object
 51  pv2              44192 non-null  float64
 52  pv4              44192 non-null  float64
 53  range            44192 non-null  float64
 54  rangeCity        44192 non-null  float64
 55  rangeCityA       44192 non-null  float64
 56  rangeHwy         44192 non-null  float64
 57  rangeHwyA        44192 non-null  float64
 58  trany            44181 non-null  object
 59  UCity            44192 non-null  float64
 60  UCityA           44192 non-null  float64
 61  UHighway         44192 non-null  float64
 62  UHighwayA        44192 non-null  float64
 63  youSaveSpend     44192 non-null  float64
 64  guzzler          2635 non-null   object
 65  trans_dscr       14391 non-null  object
 66  tCharger         8531 non-null   object
 67  sCharger         987 non-null    object
 68  atvType          4386 non-null   object
 69  fuelType2        1647 non-null   object
 70  rangeA           1642 non-null   object
 71  evMotor          1874 non-null   object
 72  mfrCode          15200 non-null  object
 73  c240Dscr         133 non-null    object
 74  charge240b       44170 non-null  float64
 75  c240bDscr        127 non-null    object
 76  createdOn        44170 non-null  object
 77  modifiedOn       44170 non-null  object
 78  startStop        14357 non-null  object
 79  phevCity         44170 non-null  float64
 80  phevHwy          44170 non-null  float64
 81  phevComb         44170 non-null  float64
dtypes: float64(57), int64(1), object(24)
memory usage: 28.9+ MB

In [23]:
df6.columns

Index(['Year', 'Manufacturer', 'Model', 'barrels08', 'barrelsA08', 'charge240',
       'city08', 'city08U', 'cityA08', 'cityA08U', 'cityCD', 'cityE', 'cityUF',
       'co2', 'co2A', 'co2TailpipeAGpm', 'co2TailpipeGpm', 'comb08', 'comb08U',
       'combA08', 'combA08U', 'combE', 'combinedCD', 'combinedUF', 'cylinders',
       'displ', 'drive', 'engId', 'eng_dscr', 'feScore', 'fuelCost08',
       'fuelCostA08', 'fuelType', 'fuelType1', 'ghgScore', 'ghgScoreA',
       'highway08', 'highway08U', 'highwayA08', 'highwayA08U', 'VClass',
       'highwayCD', 'highwayE', 'highwayUF', 'hlv', 'hpv', 'id', 'lv2', 'lv4',
       'mpgData', 'phevBlended', 'pv2', 'pv4', 'range', 'rangeCity',
       'rangeCityA', 'rangeHwy', 'rangeHwyA', 'trany', 'UCity', 'UCityA',
       'UHighway', 'UHighwayA', 'youSaveSpend', 'guzzler', 'trans_dscr',
       'tCharger', 'sCharger', 'atvType', 'fuelType2', 'rangeA', 'evMotor',
       'mfrCode', 'c240Dscr', 'charge240b', 'c240bDscr', 'createdOn',
       'modifiedOn', 'startStop', 'phevCity', 'phevHwy', 'phevComb'],
      dtype='object')

In [24]:
df6.drop(columns=['range', 'rangeCity', 'rangeHwy', 'UCity', 'UHighway', 'co2A', 'co2TailpipeAGpm', 'barrels08', 'barrelsA08', 'charge240',
       'city08', 'city08U', 'cityA08', 'cityA08U', 'cityCD', 'cityE', 'cityUF', 'comb08', 'comb08U',
       'combA08', 'combA08U', 'combE', 'combinedCD', 'combinedUF', 'cylinders',
       'displ', 'drive', 'engId', 'eng_dscr', 'feScore', 'fuelCostA08', 'fuelType', 'fuelType1', 'ghgScore', 'ghgScoreA',
       'highway08', 'highway08U', 'highwayA08', 'highwayA08U', 'VClass',
       'highwayCD', 'highwayE', 'highwayUF', 'hlv', 'hpv', 'id', 'lv2', 'lv4',
       'mpgData', 'phevBlended', 'pv2', 'pv4', 'rangeCityA', 'rangeHwyA', 'trany', 'UCityA', 'UHighwayA', 'youSaveSpend', 'guzzler', 'trans_dscr',
       'tCharger', 'sCharger', 'atvType', 'fuelType2', 'rangeA', 'evMotor',
       'mfrCode', 'c240Dscr', 'charge240b', 'c240bDscr', 'createdOn',
       'modifiedOn', 'startStop', 'phevCity', 'phevHwy', 'phevComb'], inplace=True)

In [25]:
df6.head()

,Year,Manufacturer,Model,co2,co2TailpipeGpm,fuelCost08
0,2017,BMW,M6 Coupe,519.0,519.0,3850.0
1,2017,BMW,X3 sDrive28i,374.0,374.0,2700.0
2,2016,Infiniti,Q50S Red Sport,402.0,402.0,2950.0
3,2017,MINI,John Cooper Works Convertible,327.0,327.0,2400.0
4,2017,Kia,Sedona SX,433.0,433.0,2550.0

In [26]:
df7.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 882 entries, 0 to 881
Data columns (total 22 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Category                            882 non-null    object
 1   Model                               882 non-null    object
 2   Model Year                          594 non-null    float64
 3   Manufacturer                        882 non-null    object
 4   Fuel                                882 non-null    object
 5   All-Electric Range                  222 non-null    float64
 6   PHEV Total Range                    43 non-null     float64
 7   Alternative Fuel Economy City       169 non-null    float64
 8   Alternative Fuel Economy Highway    169 non-null    float64
 9   Alternative Fuel Economy Combined   262 non-null    float64
 10  Conventional Fuel Economy City      444 non-null    float64
 11  Conventional Fuel Economy Highway   444 non-null    float64
 12  Conventional Fuel Economy Combined  444 non-null    float64
 13  Transmission Type                   640 non-null    object
 14  Transmission Make                   125 non-null    object
 15  Engine Type                         589 non-null    object
 16  Engine Size                         589 non-null    object
 17  Engine Cylinder Count               449 non-null    float64
 18  Number of Passengers                121 non-null    object
 19  Heavy-Duty Power System             245 non-null    object
 20  Notes                               179 non-null    object
 21  Drivetrain                          329 non-null    object
dtypes: float64(10), object(12)
memory usage: 151.7+ KB

In [27]:
df7.columns

Index(['Category', 'Model', 'Model Year', 'Manufacturer', 'Fuel',
       'All-Electric Range', 'PHEV Total Range',
       'Alternative Fuel Economy City', 'Alternative Fuel Economy Highway',
       'Alternative Fuel Economy Combined', 'Conventional Fuel Economy City',
       'Conventional Fuel Economy Highway',
       'Conventional Fuel Economy Combined', 'Transmission Type',
       'Transmission Make', 'Engine Type', 'Engine Size',
       'Engine Cylinder Count', 'Number of Passengers',
       'Heavy-Duty Power System', 'Notes', 'Drivetrain'],
      dtype='object')

In [28]:
df7.drop(columns=['Category', 'All-Electric Range', 'PHEV Total Range',
       'Alternative Fuel Economy City', 'Alternative Fuel Economy Highway',
       'Alternative Fuel Economy Combined', 'Conventional Fuel Economy City',
       'Conventional Fuel Economy Highway',
       'Conventional Fuel Economy Combined', 'Transmission Type',
       'Transmission Make', 'Engine Type', 'Engine Size',
       'Engine Cylinder Count', 'Heavy-Duty Power System', 'Notes', 'Drivetrain'], inplace=True)

In [29]:
df7.head()

,Model,Model Year,Manufacturer,Fuel,Number of Passengers
0,NSX,2022.0,Acura,Hybrid Electric,NaN
1,A3,2022.0,Audi,Hybrid Electric,NaN
2,A3 quattro,2022.0,Audi,Hybrid Electric,NaN
3,A4 allroad quattro,2022.0,Audi,Hybrid Electric,NaN
4,A4 quattro,2022.0,Audi,Hybrid Electric,NaN

In [30]:
# Unir Dataset5 y Dataset6
df_combined_5_6 = pd.merge(df5, df6, left_on=['Model', 'Manufacturer', 'Model Year'], right_on=['Model', 'Manufacturer', 'Year'])

In [31]:
df_combined_5_6.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2132 entries, 0 to 2131
Data columns (total 14 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Model                               2132 non-null   object
 1   Model Year                          2132 non-null   int64
 2   Alternative Fuel Economy City       1030 non-null   float64
 3   Alternative Fuel Economy Highway    975 non-null    float64
 4   Alternative Fuel Economy Combined   462 non-null    float64
 5   Conventional Fuel Economy City      1804 non-null   float64
 6   Conventional Fuel Economy Highway   1801 non-null   float64
 7   Conventional Fuel Economy Combined  1035 non-null   float64
 8   Manufacturer                        2132 non-null   object
 9   Fuel                                2132 non-null   object
 10  Year                                2132 non-null   int64
 11  co2                                 2132 non-null   float64
 12  co2TailpipeGpm                      2132 non-null   float64
 13  fuelCost08                          2132 non-null   float64
dtypes: float64(9), int64(2), object(3)
memory usage: 233.3+ KB

In [32]:
df_combined_5_6.columns

Index(['Model', 'Model Year', 'Alternative Fuel Economy City',
       'Alternative Fuel Economy Highway', 'Alternative Fuel Economy Combined',
       'Conventional Fuel Economy City', 'Conventional Fuel Economy Highway',
       'Conventional Fuel Economy Combined', 'Manufacturer', 'Fuel', 'Year',
       'co2', 'co2TailpipeGpm', 'fuelCost08'],
      dtype='object')

In [33]:
df_combined_5_6.head()

,Model,Model Year,Alternative Fuel Economy City,Alternative Fuel Economy Highway,Alternative Fuel Economy Combined,Conventional Fuel Economy City,Conventional Fuel Economy Highway,Conventional Fuel Economy Combined,Manufacturer,Fuel,Year,co2,co2TailpipeGpm,fuelCost08
0,A3 quattro,2022,NaN,NaN,NaN,28.0,36.0,31.0,Audi,Hybrid Electric,2022,286.0,286.0,1700.0
1,A4 allroad quattro,2022,NaN,NaN,NaN,24.0,30.0,26.0,Audi,Hybrid Electric,2022,335.0,335.0,2500.0
2,A4 quattro,2022,NaN,NaN,NaN,26.0,34.0,29.0,Audi,Hybrid Electric,2022,307.0,307.0,2250.0
3,A4 S line quattro,2022,NaN,NaN,NaN,24.0,31.0,27.0,Audi,Hybrid Electric,2022,332.0,332.0,2400.0
4,A5 Cabriolet quattro,2022,NaN,NaN,NaN,23.0,31.0,26.0,Audi,Hybrid Electric,2022,345.0,345.0,2500.0

In [34]:
# Unir el resultado con Dataset7
df_combined_5_6_7 = pd.merge(df_combined_5_6, df7, on=['Model', 'Manufacturer', 'Model Year', 'Fuel'])

In [35]:
df_combined_5_6_7.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 715 entries, 0 to 714
Data columns (total 15 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Model                               715 non-null    object
 1   Model Year                          715 non-null    int64
 2   Alternative Fuel Economy City       161 non-null    float64
 3   Alternative Fuel Economy Highway    161 non-null    float64
 4   Alternative Fuel Economy Combined   227 non-null    float64
 5   Conventional Fuel Economy City      646 non-null    float64
 6   Conventional Fuel Economy Highway   646 non-null    float64
 7   Conventional Fuel Economy Combined  646 non-null    float64
 8   Manufacturer                        715 non-null    object
 9   Fuel                                715 non-null    object
 10  Year                                715 non-null    int64
 11  co2                                 715 non-null    float64
 12  co2TailpipeGpm                      715 non-null    float64
 13  fuelCost08                          715 non-null    float64
 14  Number of Passengers                0 non-null      object
dtypes: float64(9), int64(2), object(4)
memory usage: 83.9+ KB

In [36]:
df_combined_5_6_7.columns

Index(['Model', 'Model Year', 'Alternative Fuel Economy City',
       'Alternative Fuel Economy Highway', 'Alternative Fuel Economy Combined',
       'Conventional Fuel Economy City', 'Conventional Fuel Economy Highway',
       'Conventional Fuel Economy Combined', 'Manufacturer', 'Fuel', 'Year',
       'co2', 'co2TailpipeGpm', 'fuelCost08', 'Number of Passengers'],
      dtype='object')

In [37]:
df_combined_5_6_7.drop(columns='Year', inplace=True)

In [38]:
df_combined_5_6_7.head()

,Model,Model Year,Alternative Fuel Economy City,Alternative Fuel Economy Highway,Alternative Fuel Economy Combined,Conventional Fuel Economy City,Conventional Fuel Economy Highway,Conventional Fuel Economy Combined,Manufacturer,Fuel,co2,co2TailpipeGpm,fuelCost08,Number of Passengers
0,A3 quattro,2022,NaN,NaN,NaN,28.0,36.0,31.0,Audi,Hybrid Electric,286.0,286.0,1700.0,NaN
1,A4 allroad quattro,2022,NaN,NaN,NaN,24.0,30.0,26.0,Audi,Hybrid Electric,335.0,335.0,2500.0,NaN
2,A4 quattro,2022,NaN,NaN,NaN,26.0,34.0,29.0,Audi,Hybrid Electric,307.0,307.0,2250.0,NaN
3,A4 S line quattro,2022,NaN,NaN,NaN,24.0,31.0,27.0,Audi,Hybrid Electric,332.0,332.0,2400.0,NaN
4,A5 Cabriolet quattro,2022,NaN,NaN,NaN,23.0,31.0,26.0,Audi,Hybrid Electric,345.0,345.0,2500.0,NaN

In [39]:
df_combined_5_6_7.to_parquet(r'Data/modelos_economia_emision.parquet', index='False')

In [40]:
df_combined_1_2.to_parquet(r'Data/modelos_caracteristicas.parquet', index='False')

In [41]:
df_combined_3_4.to_parquet(r'Data/localizaciones.parquet', index='False')