In [1]:
import pandas as pd
import numpy as np

Cargo el archivo csv.

In [2]:
df_NYC_air_quality = pd.read_csv(r'Datasets\sucios\Air_Quality_raw.csv')

In [3]:
df_NYC_air_quality

,Unique ID,Indicator ID,Name,Measure,Measure Info,Geo Type Name,Geo Join ID,Geo Place Name,Time Period,Start_Date,Data Value,Message
0,179772,640,Boiler Emissions- Total SO2 Emissions,Number per km2,number,UHF42,409.0,Southeast Queens,2015,01/01/2015,0.3,NaN
1,179785,640,Boiler Emissions- Total SO2 Emissions,Number per km2,number,UHF42,209.0,Bensonhurst - Bay Ridge,2015,01/01/2015,1.2,NaN
2,178540,365,Fine particles (PM 2.5),Mean,mcg/m3,UHF42,209.0,Bensonhurst - Bay Ridge,Annual Average 2012,12/01/2011,8.6,NaN
3,178561,365,Fine particles (PM 2.5),Mean,mcg/m3,UHF42,409.0,Southeast Queens,Annual Average 2012,12/01/2011,8.0,NaN
4,823217,365,Fine particles (PM 2.5),Mean,mcg/m3,UHF42,409.0,Southeast Queens,Summer 2022,06/01/2022,6.1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
18020,816914,643,Annual vehicle miles traveled,Million miles,per square mile,CD,503.0,Tottenville and Great Kills (CD3),2019,01/01/2019,12.9,NaN
18021,816913,643,Annual vehicle miles traveled,Million miles,per square mile,CD,503.0,Tottenville and Great Kills (CD3),2010,01/01/2010,14.7,NaN
18022,816872,643,Annual vehicle miles traveled,Million miles,per square mile,UHF42,208.0,Canarsie - Flatlands,2010,01/01/2010,43.4,NaN
18023,816832,643,Annual vehicle miles traveled,Million miles,per square mile,UHF42,407.0,Southwest Queens,2010,01/01/2010,65.8,NaN
18024,151658,643,Annual vehicle miles traveled,Million miles,per square mile,UHF42,408.0,Jamaica,2005,01/01/2005,41.0,NaN

Se procede a leer la informacion del DataFrames, con la finalidad de encontrar valores nulos y/o faltantes, además de saber con qué tipo de datos estamos tratando.

In [4]:
total_filas = df_NYC_air_quality.shape[0]
print("La cantidad total de filas en el df_NYC_air_quality es:", total_filas)

print(df_NYC_air_quality.info())

La cantidad total de filas en el df_NYC_air_quality es: 18025
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18025 entries, 0 to 18024
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unique ID       18025 non-null  int64
 1   Indicator ID    18025 non-null  int64
 2   Name            18025 non-null  object
 3   Measure         18025 non-null  object
 4   Measure Info    18025 non-null  object
 5   Geo Type Name   18025 non-null  object
 6   Geo Join ID     18016 non-null  float64
 7   Geo Place Name  18016 non-null  object
 8   Time Period     18025 non-null  object
 9   Start_Date      18025 non-null  object
 10  Data Value      18025 non-null  float64
 11  Message         0 non-null      float64
dtypes: float64(3), int64(2), object(7)
memory usage: 1.7+ MB
None

Vemos el contenido dentro de la columna 'Geo Place Name' con la finalidad de poder crear un diccionario para poder normalizar los 'Borough'.

In [5]:
#Listo los elementos únicos de la columna 'Geo Place Name'
lugares_unicos = df_NYC_air_quality['Geo Place Name'].unique()

#Muestro los lugares únicos
for lugar in lugares_unicos:
    print(lugar)

Southeast Queens
Bensonhurst - Bay Ridge
Rockaways
Coney Island - Sheepshead Bay
Williamsburg - Bushwick
Bayside - Little Neck
Pelham - Throgs Neck
Upper West Side
East New York
Canarsie - Flatlands
Jamaica
Gramercy Park - Murray Hill
Hunts Point - Mott Haven
Southwest Queens
Greenwich Village - SoHo
Brooklyn
Downtown - Heights - Slope
Washington Heights
Northeast Bronx
Greenpoint
Long Island City - Astoria
Port Richmond
Kingsbridge - Riverdale
Throgs Neck and Co-op City (CD10)
Williamsbridge and Baychester (CD12)
Jamaica and Hollis (CD12)
South Ozone Park and Howard Beach (CD10)
Kingsbridge Heights and Bedford (CD7)
Sunset Park (CD7)
Rockaway and Broad Channel (CD14)
Upper West Side (CD7)
Flushing and Whitestone (CD7)
Bushwick (CD4)
Bedford Stuyvesant (CD3)
Jackson Heights (CD3)
East Flatbush - Flatbush
Elmhurst and Corona (CD4)
Highbridge and Concourse (CD4)
Lower East Side and Chinatown (CD3)
Morrisania and Crotona (CD3)
Upper East Side (CD8)
Central Harlem (CD10)
Washington Heights and Inwood (CD12)
Union Square - Lower East Side
Manhattan
Bedford Stuyvesant - Crown Heights
High Bridge - Morrisania
Woodside and Sunnyside (CD2)
Hunts Point and Longwood (CD2)
Greenwich Village and Soho (CD2)
Upper East Side
Crotona -Tremont
Flushing - Clearview
East Harlem
Fordham - Bronx Pk
Chelsea - Clinton
Central Harlem - Morningside Heights
Fresh Meadows
Bay Ridge and Dyker Heights (CD10)
Fort Greene and Brooklyn Heights (CD2)
Greenpoint and Williamsburg (CD1)
Mott Haven and Melrose (CD1)
Lower Manhattan
West Queens
Parkchester and Soundview (CD9)
Kew Gardens and Woodhaven (CD9)
Morris Park and Bronxdale (CD11)
Bayside and Little Neck (CD11)
Morningside Heights and Hamilton Heights (CD9)
East Harlem (CD11)
South Crown Heights and Lefferts Gardens (CD9)
East New York and Starrett City (CD5)
Midtown (CD5)
Queens
Queens Village (CD13)
Park Slope and Carroll Gardens (CD6)
Stuyvesant Town and Turtle Bay (CD6)
Hillcrest and Fresh Meadows (CD8)
Bronx
Long Island City and Astoria (CD1)
Fordham and University Heights (CD5)
Riverdale and Fieldston (CD8)
Clinton and Chelsea (CD4)
Crown Heights and Prospect Heights (CD8)
Rego Park and Forest Hills (CD6)
Bensonhurst (CD11)
Sunset Park
Brownsville (CD16)
St. George and Stapleton (CD1)
Financial District (CD1)
Borough Park
Coney Island (CD13)
Sheepshead Bay (CD15)
Staten Island
Ridgewood - Forest Hills
Belmont and East Tremont (CD6)
Flatbush and Midwood (CD14)
Borough Park (CD12)
East Flatbush (CD17)
Ridgewood and Maspeth (CD5)
Willowbrook
Northern SI
Stapleton - St. George
Southern SI
Flatlands and Canarsie (CD18)
South Beach and Willowbrook (CD2)
Bayside Little Neck-Fresh Meadows
South Beach - Tottenville
South Bronx
Tottenville and Great Kills (CD3)
nan
Upper East Side-Gramercy
Chelsea-Village
Union Square-Lower Manhattan
New York City

Exportamos todo el contenido de 'Geo Place Name' a un csv.

In [6]:
#Creo un DataFrame con los lugares únicos
df_lugares_unicos = pd.DataFrame(lugares_unicos, columns=['Geo Place Name'])

#Exporto el DataFrame de lugares únicos a un archivo CSV
df_lugares_unicos.to_csv('lugares_unicos.csv', index=False)

print("El archivo 'lugares_unicos.csv' se ha creado exitosamente.")

El archivo 'lugares_unicos.csv' se ha creado exitosamente.

Creo un diccionario con los lugares_unicos para poder asociarlos a cada 'Borough'.

In [7]:
#Mapeo de 'Geo Place Name' a 'Borough'
mapeo_lugares_a_borough = {
    'Morrisania and Crotona (CD3)': 'Bronx',
    'Bedford Stuyvesant (CD3)': 'Brooklyn',
    'Tottenville and Great Kills (CD3)': 'Staten Island',
    'Chelsea-Village': 'Manhattan',
    'Bedford Stuyvesant - Crown Heights': 'Brooklyn',
    'Flushing - Clearview': 'Queens',
    'Fordham - Bronx Pk': 'Bronx',
    'Pelham - Throgs Neck': 'Bronx',
    'East Harlem': 'Manhattan',
    'East New York': 'Brooklyn',
    'Upper East Side-Gramercy': 'Manhattan',
    'South Beach - Tottenville': 'Staten Island',
    'Bayside - Little Neck': 'Queens',
    'Flushing and Whitestone (CD7)': 'Queens',
    'Flatbush and Midwood (CD14)': 'Brooklyn',
    'Sunset Park': 'Brooklyn',
    'Bayside Little Neck-Fresh Meadows': 'Queens',
    'Southeast Queens': 'Queens',
    'Bensonhurst - Bay Ridge': 'Brooklyn',
    'Union Square-Lower Manhattan': 'Manhattan',
    'South Ozone Park and Howard Beach (CD10)': 'Queens',
    'Jamaica and Hollis (CD12)': 'Queens',
    'Throgs Neck and Co-op City (CD10)': 'Bronx',
    'Borough Park (CD12)': 'Brooklyn',
    'Williamsburg - Bushwick': 'Brooklyn',
    'Ridgewood - Forest Hills': 'Queens',
    'Willowbrook': 'Staten Island',
    'Hillcrest and Fresh Meadows (CD8)': 'Queens',
    'Rego Park and Forest Hills (CD6)': 'Queens',
    'Clinton and Chelsea (CD4)': 'Manhattan',
    'Stuyvesant Town and Turtle Bay (CD6)': 'Manhattan',
    'Riverdale and Fieldston (CD8)': 'Bronx',
    'South Beach and Willowbrook (CD2)': 'Staten Island',
    'Financial District (CD1)': 'Manhattan',
    'Woodside and Sunnyside (CD2)': 'Queens',
    'Greenpoint and Williamsburg (CD1)': 'Brooklyn',
    'St. George and Stapleton (CD1)': 'Staten Island',
    'Fort Greene and Brooklyn Heights (CD2)': 'Brooklyn',
    'Mott Haven and Melrose (CD1)': 'Bronx',
    'Upper West Side': 'Manhattan',
    'Hunts Point and Longwood (CD2)': 'Bronx',
    'Long Island City and Astoria (CD1)': 'Queens',
    'Coney Island - Sheepshead Bay': 'Brooklyn',
    'Manhattan': 'Manhattan',
    'High Bridge - Morrisania': 'Bronx',
    'Union Square - Lower East Side': 'Manhattan',
    'Greenwich Village and Soho (CD2)': 'Manhattan',
    'Kingsbridge - Riverdale': 'Bronx',
    'Northeast Bronx': 'Bronx',
    'West Queens': 'Queens',
    'Jackson Heights (CD3)': 'Queens',
    'Flatlands and Canarsie (CD18)': 'Brooklyn',
    'East Flatbush (CD17)': 'Brooklyn',
    'Central Harlem - Morningside Heights': 'Manhattan',
    'Downtown - Heights - Slope': 'Brooklyn',
    'Southwest Queens': 'Queens',
    'Washington Heights': 'Manhattan',
    'Upper West Side (CD7)': 'Manhattan',
    'Rockaway and Broad Channel (CD14)': 'Queens',
    'Kingsbridge Heights and Bedford (CD7)': 'Bronx',
    'Sunset Park (CD7)': 'Brooklyn',
    'Williamsbridge and Baychester (CD12)': 'Bronx',
    'Washington Heights and Inwood (CD12)': 'Manhattan',
    'Upper East Side (CD8)': 'Manhattan',
    'Long Island City - Astoria': 'Queens',
    'Port Richmond': 'Staten Island',
    'Bay Ridge and Dyker Heights (CD10)': 'Brooklyn',
    'Central Harlem (CD10)': 'Manhattan',
    'New York City': 'Manhattan',
    'Jamaica': 'Queens',
    'Canarsie - Flatlands': 'Brooklyn',
    'Coney Island (CD13)': 'Brooklyn',
    'Sheepshead Bay (CD15)': 'Brooklyn',
    'Queens': 'Queens',
    'Queens Village (CD13)': 'Queens',
    'Rockaways': 'Queens',
    'Lower Manhattan': 'Manhattan',
    'Crown Heights and Prospect Heights (CD8)': 'Brooklyn',
    'Belmont and East Tremont (CD6)': 'Bronx',
    'Park Slope and Carroll Gardens (CD6)': 'Brooklyn',
    'Crotona -Tremont': 'Bronx',
    'Upper East Side': 'Manhattan',
    'Ridgewood and Maspeth (CD5)': 'Queens',
    'Midtown (CD5)': 'Manhattan',
    'Fresh Meadows': 'Queens',
    'East Flatbush - Flatbush': 'Brooklyn',
    'Fordham and University Heights (CD5)': 'Bronx',
    'East New York and Starrett City (CD5)': 'Brooklyn',
    'Chelsea - Clinton': 'Manhattan',
    'Bayside and Little Neck (CD11)': 'Queens',
    'East Harlem (CD11)': 'Manhattan',
    'Morningside Heights and Hamilton Heights (CD9)': 'Manhattan',
    'Bensonhurst (CD11)': 'Brooklyn',
    'Morris Park and Bronxdale (CD11)': 'Bronx',
    'Kew Gardens and Woodhaven (CD9)': 'Queens',
    'Stapleton - St. George': 'Staten Island',
    'South Crown Heights and Lefferts Gardens (CD9)': 'Brooklyn',
    'Parkchester and Soundview (CD9)': 'Bronx',
    'Brownsville (CD16)': 'Brooklyn',
    'Gramercy Park - Murray Hill': 'Manhattan',
    'Greenwich Village - SoHo': 'Manhattan',
    'Hunts Point - Mott Haven': 'Bronx',
    'Bronx': 'Bronx',
    'Elmhurst and Corona (CD4)': 'Queens',
    'Highbridge and Concourse (CD4)': 'Bronx',
    'Bushwick (CD4)': 'Brooklyn',
    'Brooklyn': 'Brooklyn',
    'Lower East Side and Chinatown (CD3)': 'Manhattan',
    'South Bronx': 'Bronx',
    'Southern SI': 'Staten Island',
    'Northern SI': 'Staten Island'
}


#Agrego nueva columna 'Borough' al DataFrame original.
df_NYC_air_quality['Borough'] = df_NYC_air_quality['Geo Place Name'].map(mapeo_lugares_a_borough)

#Verifico el resultado
print(df_NYC_air_quality.head())

   Unique ID  Indicator ID                                   Name  \
0     179772           640  Boiler Emissions- Total SO2 Emissions
1     179785           640  Boiler Emissions- Total SO2 Emissions
2     178540           365                Fine particles (PM 2.5)
3     178561           365                Fine particles (PM 2.5)
4     823217           365                Fine particles (PM 2.5)

          Measure Measure Info Geo Type Name  Geo Join ID  \
0  Number per km2       number         UHF42        409.0
1  Number per km2       number         UHF42        209.0
2            Mean       mcg/m3         UHF42        209.0
3            Mean       mcg/m3         UHF42        409.0
4            Mean       mcg/m3         UHF42        409.0

            Geo Place Name          Time Period  Start_Date  Data Value  \
0         Southeast Queens                 2015  01/01/2015         0.3
1  Bensonhurst - Bay Ridge                 2015  01/01/2015         1.2
2  Bensonhurst - Bay Ridge  Annual Average 2012  12/01/2011         8.6
3         Southeast Queens  Annual Average 2012  12/01/2011         8.0
4         Southeast Queens          Summer 2022  06/01/2022         6.1

   Message   Borough
0      NaN    Queens
1      NaN  Brooklyn
2      NaN  Brooklyn
3      NaN    Queens
4      NaN    Queens

Volvemos a ver nuevamente el data frame para verificar si a cada 'Geo Place Name' se les asigno bien su respectivo 'Borough'.

In [8]:
print(df_NYC_air_quality.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18025 entries, 0 to 18024
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unique ID       18025 non-null  int64
 1   Indicator ID    18025 non-null  int64
 2   Name            18025 non-null  object
 3   Measure         18025 non-null  object
 4   Measure Info    18025 non-null  object
 5   Geo Type Name   18025 non-null  object
 6   Geo Join ID     18016 non-null  float64
 7   Geo Place Name  18016 non-null  object
 8   Time Period     18025 non-null  object
 9   Start_Date      18025 non-null  object
 10  Data Value      18025 non-null  float64
 11  Message         0 non-null      float64
 12  Borough         17308 non-null  object
dtypes: float64(3), int64(2), object(8)
memory usage: 1.8+ MB
None

Se filtra para saber a qué elemento de 'Geo Place Name' no se le asignó su 'Borough'.

In [10]:
#Filtro el DataFrame para las filas donde 'Borough' es nulo
filas_sin_borough = df_NYC_air_quality[df_NYC_air_quality['Borough'].isnull()]

#Obtengo los elementos únicos de 'Geo Place Name' sin 'Borough'
lugares_sin_borough_unicos = filas_sin_borough['Geo Place Name'].unique()

#Se imprimen los elementos únicos sin 'Borough'
for lugar in lugares_sin_borough_unicos:
    print(lugar)

Greenpoint
Borough Park
Staten Island
nan

In [11]:
#Mapeo adicional para los lugares identificados
mapeo_lugares_adicional = {
    'Borough Park': 'Brooklyn',
    'Greenpoint': 'Brooklyn',
    'Staten Island': 'Staten Island'
}

#Actualización del DataFrame para asignar los Boroughs correspondientes
df_NYC_air_quality.loc[df_NYC_air_quality['Geo Place Name'].isin(mapeo_lugares_adicional.keys()), 'Borough'] = df_NYC_air_quality['Geo Place Name'].map(mapeo_lugares_adicional)

#Verificar que se hayan actualizado correctamente
print(df_NYC_air_quality[df_NYC_air_quality['Geo Place Name'].isin(mapeo_lugares_adicional.keys())][['Geo Place Name', 'Borough']])

      Geo Place Name   Borough
102       Greenpoint  Brooklyn
103       Greenpoint  Brooklyn
104       Greenpoint  Brooklyn
105       Greenpoint  Brooklyn
108       Greenpoint  Brooklyn
...              ...       ...
17891     Greenpoint  Brooklyn
17900     Greenpoint  Brooklyn
17974     Greenpoint  Brooklyn
17977     Greenpoint  Brooklyn
17978     Greenpoint  Brooklyn

[708 rows x 2 columns]

Revisamos nuevamente si los 'Geo Place Name' tienen asignado su 'Borough'.

In [12]:
print(df_NYC_air_quality.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18025 entries, 0 to 18024
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unique ID       18025 non-null  int64
 1   Indicator ID    18025 non-null  int64
 2   Name            18025 non-null  object
 3   Measure         18025 non-null  object
 4   Measure Info    18025 non-null  object
 5   Geo Type Name   18025 non-null  object
 6   Geo Join ID     18016 non-null  float64
 7   Geo Place Name  18016 non-null  object
 8   Time Period     18025 non-null  object
 9   Start_Date      18025 non-null  object
 10  Data Value      18025 non-null  float64
 11  Message         0 non-null      float64
 12  Borough         18016 non-null  object
dtypes: float64(3), int64(2), object(8)
memory usage: 1.8+ MB
None

In [13]:
#Obtengo los elementos únicos de la columna 'measure'
medidas_unicas = df_NYC_air_quality['Measure'].unique()

#Imprimo los elementos únicos
for medida in medidas_unicas:
    print(medida)

Number per km2
Mean
Estimated annual rate (under age 18)
Million miles
Estimated annual rate (age 18+)
Estimated annual rate
Annual average concentration
Estimated annual rate (age 30+)

Se eliminan las columnas que no son necesarias para el estudio del la contaminacion en NYC.

In [14]:
#Lista de columnas a eliminar
columnas_a_eliminar = ['Indicator ID','Measure','Geo Type Name','Geo Join ID','Geo Place Name','Time Period','Message','Unique ID']

#Eliminar las columnas
df_NYC_air_quality = df_NYC_air_quality.drop(columnas_a_eliminar, axis=1)

Eliminamos los valores que no hacen referencia a la contaminacion producto de los automoviles.

In [15]:
#Lista de valores a eliminar
valores_a_eliminar = [
    'Asthma emergency department visits due to PM2.5',
    'Cardiac and respiratory deaths due to Ozone',
    'Deaths due to PM2.5',
    'Respiratory hospitalizations due to PM2.5 (age 20+)',
    'Asthma hospitalizations due to Ozone',
    'Asthma emergency departments visits due to Ozone',
    'Cardiovascular hospitalizations due to PM2.5 (age 40+)',
    'Boiler Emissions- Total NOx Emissions',
    'Boiler Emissions- Total PM2.5 Emissions',
    'Boiler Emissions- Total SO2 Emissions',
    'Annual vehicle miles traveled (trucks)',
    'Annual vehicle miles traveled (cars)',
    'Annual vehicle miles traveled'
]

#Eliminar las filas que contienen los valores especificados en la columna 'contaminante'
df_NYC_air_quality = df_NYC_air_quality[~df_NYC_air_quality['Name'].isin(valores_a_eliminar)]

Normalizamos la unidad de medida.

In [18]:
#Reemplazar los valores "Âµg/m3" por "mcg/m3" en la columna 'measure_info' tratando la codificación incorrecta
df_NYC_air_quality.loc[:, 'Measure Info'] = df_NYC_air_quality['Measure Info'].str.replace("Âµg/m3", "mcg/m3", regex=False)

Transformar la columna 'Start_Date' en datetime.

In [16]:
#Convierto la columna 'Start_Date' a tipo datetime usando .astype()
df_NYC_air_quality['Start_Date'] = df_NYC_air_quality['Start_Date'].astype('datetime64[ns]')


#Verificar el resultado
print(df_NYC_air_quality.info())

<class 'pandas.core.frame.DataFrame'>
Index: 14365 entries, 2 to 17984
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Name          14365 non-null  object
 1   Measure Info  14365 non-null  object
 2   Start_Date    14365 non-null  datetime64[ns]
 3   Data Value    14365 non-null  float64
 4   Borough       14365 non-null  object
dtypes: datetime64[ns](1), float64(1), object(3)
memory usage: 673.4+ KB
None

Ordenamos el dataset en función de 'Start_Date' de manera ascendente.

In [19]:
#Ordeno el DataFrame en función de 'Start_Date' en orden ascendente
df_NYC_air_quality = df_NYC_air_quality.sort_values(by='Start_Date', ascending=True)

#Verificar el resultado
print(df_NYC_air_quality.head())

                                    Name Measure Info Start_Date  Data Value  \
10779  Outdoor Air Toxics - Formaldehyde       mcg/m3 2005-01-01         4.0
13196       Outdoor Air Toxics - Benzene       mcg/m3 2005-01-01         1.9
12950  Outdoor Air Toxics - Formaldehyde       mcg/m3 2005-01-01         2.7
5460   Outdoor Air Toxics - Formaldehyde       mcg/m3 2005-01-01         3.2
12865       Outdoor Air Toxics - Benzene       mcg/m3 2005-01-01         2.8

         Borough
10779  Manhattan
13196     Queens
12950     Queens
5460    Brooklyn
12865   Brooklyn

Cambiamos el nombre a las columnas 'Name', 'Start_Date', 'Borough'.

In [20]:
df_NYC_air_quality = df_NYC_air_quality.rename(columns={
    'Name': 'contaminante',
    'Start_Date': 'fecha',
    'Borough': 'Barrio'
})

Exporto el DF a tipo parquet.

In [21]:
df_NYC_air_quality.to_parquet('NYC_air_quality.parquet', index=False)